* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('https://png.pngtree.com/background/20230520/original/pngtree-d-model-of-a-supermarket-with-shelves-of-foods-for-sale-picture-image_2669917.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    width: 100%;
    height: max-content;
}
/* HEADER */
h1 {
    background: linear-gradient(135deg, #fa4416, #fa6d01);
    font-family: monospace;
    font-size: 100px;
    color: #f5f6f2; 
    text-align: center;
    text-shadow: 4px 4px 8px black;
}
/* enfasis titulo */
span {
    color: #ff7e5f;
    font-family: monospace;
    padding-left: 20px;
}
/* menu interaccion */
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(135deg, #ff9204, #fac401);
    width: 100%;
    height: 50px;
    font-size: 20px;
    top:15px;
    padding: 10px;
    opacity: 0.8;
    margin-bottom: 15px;
}
/* menu interaccion */

.navigation a {
    display: flex;
    color: #080808;
    padding: 15px;
    align-items: center;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
/* HEADER */


/* COMUNICATE CON NOSOTROS */
h3{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    font-family: 'arial';
    font-size: 70px;
    color: white;
    text-shadow:3px 3px 6px black;
}
/* botones y campos */
input { 
    display:flex;
    background-color: white;
    opacity: 0.8;
    margin: auto;
    margin-top: 10px;
    width: 30%;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px 10px black;
} 

/* campos de formulario */
label { 
    display:grid;
    margin: auto;
    width: 30%;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    background-color:rgb(29, 63, 64);
    box-shadow: 10px 10px 15px black;
    font-size: 20px;
    color: white;
    align-items: center;
    margin-top: 15px;
}
/* letra del contenido campos */
placeholder {
    color: rgb(8, 8, 8);
}
/* seleccion de provincia y localidad*/
select {
    display:flex;
    margin: auto;
    width: 30%;
    justify-content: center;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    background-color:white;
    box-shadow: 10px 10px 15px black;
    color: rgb(8, 8, 8);
    margin-top: 10px;
    opacity: 0.8;
}
textarea {
    display:flex;
    margin: auto;
    width: 30%;
    justify-content: center;
    height: 80px;
    border-radius: 10px;
    background-color:white;
    box-shadow: 10px 10px 15px black;
    color: rgb(8, 8, 8);
    margin-top: 10px;
    opacity: 0.8;
}

/* opciones de provincia y localidad */
option {
    background-color: rgb(29, 63, 64);
    color: white;
}

/* boton enviar */
.submit {
    display: flex;
    width: 22%;
    height: 50px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color:rgb(58, 40, 60);
    box-shadow: 2px 2px 10px black;
}
/* FOOTER */
footer {
    background-color: rgb(29, 63, 64);
    opacity: 0.8;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    align-items: center;
}
/* 2024 OLIMPO */
footer h5 {
    width: 100%;
    font-size: 20px;
}
/* todos los derechos reservados */
footer h6 {
    width:50%;
    font-size: 20px;
}









